#wrapper{
    background-color: #202020;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.header-title{
    font-size: 46px;
    font-family: cursive;
    color: #E6A567;
}

.logo{
    width: 200px;
    height: 200px;
}

ul{
    list-style-type:none
}

ul li{
    float: left;
}

li img{
    box-shadow: 4px 4px 8px 4px #202020;
    width: 280px;
    height: 540px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}

.fade{
    opacity: 0.6;
}
  

.fade:hover{
    transition:ease-in .2s;
    opacity: 1;
}